@mixin after-before {
    &::after,
    &::before {
       content: "";
       position: absolute;
       display: block;
       @content;
    }
 }
 * {
    box-sizing: border-box;
    &::after,
    &::before {
       box-sizing: inherit;
    }
 }
 .metropolis {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    // background-color: #1c1b25;
    
 }
 
 $t: rgba(0, 0, 0, 0);
 
 #pic {
    filter: grayscale(0);
    position: relative;
   
   
    
    width: 370px;
    height: 600px;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 5px;
    background-color: #63beea;
    background-image: linear-gradient(0deg, #b8bbc548 50%, #0f71d9db);
    transition: filter 1s ease-in-out;
    filter: grayscale(1); 
    &:hover{
       filter: grayscale(0);  
    }
 
    @include after-before();
    &::after {
       top: 0;
       left: 0;
       z-index: 100;
       position: absolute;
       width: 100%;
       height: 100%;
       background-image: linear-gradient(180deg, #b8bbc510 50%, #150d125d);
    }
    
 }
 
 
 
 
 #twr {
    $c: #f6f5ea;
    $c2: #ecebe4;
    $c3: transparentize(mix(darken($c,  25),#31302d),.65);
    & * {
       position: absolute;
    }
    opacity: .87;
    z-index: 1;
    top: -5px;
    position: absolute;
    
    left: 175px;
    .top {
       top: 4px;
       left: 0;
       @include after-before(){
          box-shadow: inset -64px -5px transparentize(darken($c2,3),.4);
       };
       &::before {
          background-color: darken($c,  1.5);
          width: 148px;
          height: 38px;
          top: 6px;
          left: 24px;
          border-radius: 50% 50% 0 0/70% 70% 0 0;
       }
       &::after {
          background-color: darken($c,  2.25);
          width: 172px;
          height: 34px;
          top: 18px;
          left: 13px;
          border-radius: 50% 50% 0 0/70% 70% 0 0;
       }
    }
    .top-body {
       background-color: darken($c,  4);
       width: 200px;
       height: 126px;
       position: absolute;
       top: 43px;
       left: 0;
       border-radius: 100px 100px 0 0/20% 20% 0 0;
       box-shadow: 
       inset 0px 12px 0 0px darken($c,  1), 
       inset 0px 14px 0 0px darken($c,  20),
       inset -90px 0px 0 0px transparentize(darken($c2,  6),.4);
 
       .col-center {
          width: 86px;
          height: 54px;
          position: absolute;
          bottom: -26px;
          left: 50%;
          transform: translateX(-50%);
          background-color: darken($c,  0);
          box-shadow: inset 0 10px 0 9px darken($c,  0), inset 0 -14px darken($c,  4);
       }
       
       .col-right,
       .col-left {
          width: 60px;
          height: 45px;
          bottom: -24px;
          @include after-before();
          &::after {
             background-color: darken($c2,  11);
             width: 33px;
             height: 45px;
             top: 0;
             left: 0;
             box-shadow: inset -8px 0 0 0 darken($c,  1);
          }
          &::before {
             background-color: darken($c2,  12);
             width: 24px;
             height: 38px;
             top: 7px;
             left: 36px;
             box-shadow: inset -6px 0 0 0 darken($c,  1);
          }
          div {
             width: 20px;
             height: 24px;
             bottom: 0px;
             left: 24px;
             @include after-before() {
                width: 100%;
                height: 12px;
                left: 0;
             }
             &::before {
                top: 0;
                background-color: darken($c,  2);
                box-shadow: inset -6px 0 darken($c2,  12);
             }
             &::after {
                bottom: 0;
                background-color: darken($c,  4);
             }
          }
       }
       .col-right {
          right: -30px;
       }
       .col-left {
          left: -30px;
          transform: scaleX(-1);
       }
       .arch-center {
          background-color: darken($c,  1);
          height: 120px;
          width: 66px;
          top: 17px;
          left: 68px;
          border-radius: 40px 40px 0 0;
 
          @include after-before {
             background-color: darken($c,  1);
             left: 50%;
             transform: translateX(-50%);
          }
          &::before {
             bottom: 20px;
             width: 6px;
             height: 28px;
             z-index: 2;
          }
          &::after {
             bottom: -10px;
             width: 9px;
             height: 30px;
          }
 
          div:nth-child(1) {
             background-color: darken($c,  10);
             border-radius: 40px 40px 0 0;
             height: 120px;
             width: 48px;
             top: 0px;
             left: 50%;
             transform: translateX(-50%);
             box-shadow: 
             inset 0 6px 0 1px darken($c2,  15), 
             inset 0 -26px 0 0px darken($c,  8);
          }
          div:nth-child(2) {
             left: 50%;
             transform: translateX(-50%);
             width: 36px;
             height: 26px;
             top: 20px;
             background-image: linear-gradient(0deg, 
             $t 20%, 
             $c3 20%, 
             $c3 60%, 
             $t 60%);
             background-size: 100% 5px;
             background-position: center;
          }
          div:nth-child(3) {
             left: 50%;
             transform: translateX(-50%);
             width: 36px;
             top: 56px;
             @include after-before {
                width: 12px;
                height: 34px;
                top: 0;
                left: 2px;
                background-image: linear-gradient(90deg, 
                $t 20%, 
                $c3 20%, 
             $c3 60%, 
                $t 60%);
                background-size: 5px 100%;
                background-position: center;
             }
             &::after {
                right: 2px;
                left: initial;
             }
          }
       }
       .arch-right,
       .arch-left {
          background-color: darken($c2,  10);
          width: 30px;
          height: 96px;
          top: 30px;
          right: -6px;
          border-radius: 20px 10px 0 0;
          box-shadow: 
          inset 2px 0 0 0 darken($c,  12), 
          inset 10px 0 0 0 darken($c,  2),
          inset -4px 0 darken($c,  2), 
          inset -10px 0 darken($c,  8);
          div:nth-child(2) {
             @include after-before() {
             }
             &::before {
                background-color: darken($c,  2);
                top: 10px;
                left: 10px;
                width: 51px;
                height: 33px;
                border-radius: 20px 0 50px 0;
                top: 0;
             }
             &::after {
                background-color: darken($c,  8);
                top: 0;
                left: 0px;
                width: 61px;
                height: 30px;
                border-radius: 20px 0 50px 0;
             }
          }
          div:nth-child(1) {
             background-color: darken($c,  12);
             top: 0;
             left: 30px;
             width: 32px;
             height: 40px;
             border-radius: 20px 0 50px 0;
          }
       }
       .arch-left {
          transform: scaleX(-1);
          left: -6px;
          
          div:nth-child(2){
             &::after{
                background-color: darken($c,  3);
             }
          }
       }
       .mid-right,
       .mid-left {
          width: 45px;
          height: 24px;
          bottom: -24px;
          right: 13px;
          @include after-before {
             width: 100%;
             height: 12px;
             right: 0;
          }
          &::before {
             height: 12px;
             background-color: darken($c,  2);
             top: 0;
             box-shadow: inset -12px 0 darken($c2,  11);
          }
          &::after {
             background-color: darken($c,  4);
             bottom: 0;
             box-shadow: inset -8px 0 darken($c2,  11);
          }
       }
       .mid-left {
          left: 13px;
 
          &::before {
             box-shadow: inset 12px 0 darken($c2,  11);
          }
          &::after {
             box-shadow: inset 8px 0 darken($c2,  11);
          }
       }
       .w-right,
       .w-left {
          top: 20px;
          right: 64px;
          div {
             @include after-before() {
                border-radius: 10px;
                width: 6px;
                background-color: mix(darken($c,  25),$c3);
                box-shadow: inset -1px 1px 0 0 darken($c,  10);
             }
             &::before {
                top: 0;
                left: 0;
                height: 28px;
             }
             &::after {
                top: 34px;
                left: 0;
                height: 70px;
             }
          }
          div:nth-child(2) {
             top: 2px;
             left: 18px;
             @include after-before() {
                width: 5px;
             }
             &::before {
             }
             &::after {
                height: 69px;
             }
          }
          div:nth-child(3) {
             top: 5px;
             @include after-before() {
                width: 4px;
             }
             left: 32px;
             &::before {
             }
             &::after {
                height: 68px;
             }
          }
       }
       .w-left {
          transform: scaleX(-1);
          left: 0;
          right: 132px;
       }
    }
    .body {
       background-color: darken($c,  10);
       width: 270px;
       height: 200px;
       top: 190px;
       left: -34px;
       box-shadow: 
       inset 0 10px darken($c,  4), 
       inset 0 60px darken($c,  6),
       inset 0 200px darken($c2,  8);
       border-radius: 10px 10px 0 0/20% 20%;
       .w-right,
       .w-left {
          top: 16px;
          right: 88px;
          div {
             @include after-before() {
                border-radius: 1px;
                width: 8px;
                background-color: $c3;
                box-shadow: inset -1px -1px 0 0 darken($c,  10);
             }
             &::before {
                top: 0;
                left: 0;
                height: 36px;
             }
             &::after {
                top: 46px;
                left: 0;
                height: 134px;
             }
          }
          div:nth-child(2) {
             top: 1px;
             @include after-before() {
                width: 7px;
             }
             left: 22px;
             &::before {
             }
             &::after {
                height: 130px;
             }
          }
          div:nth-child(3) {
             top: 1px;
             @include after-before() {
                width: 6px;
             }
             left: 40px;
             &::before {
             }
             &::after {
                height: 130px;
             }
          }
       }
       .w-left {
          transform: scaleX(-1);
          right: 182px;
       }
       .col-right,
       .col-left {
          width: 48px;
          height: 100%;
          right: -8px;
          top: 3px;
          background-color: darken($c,  12);
          box-shadow: 
          inset -2px 0 darken($c,  1), 
          inset -6px 0 darken($c2,  4),
          inset 0 10px 0 0px darken($c2,  4);
          @include after-before {
             height: 100%;
             background-color: darken($c,  10);
          }
          &::before {
             left: 0px;
             width: 36px;
             box-shadow: 
             inset 8px 0 darken($c2,  6), 
             inset 14px 0 darken($c,  1),
                inset -4px 0 darken($c,  1), 
                inset -8px 0 darken($c2,  4),
                inset 0 10px 0 0px darken($c2,  4);
          }
       }
       .col-left {
          left: -8px;
          transform: scaleX(-1);
       }
       .col-center {
          $w: 94px;
          background-color: darken($c,  2);
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: $w;
          height: 100%;
          div {
             width: ($w - 3 * 10)/ 2;
             height: 100%;
             top: 0;
             background-color: darken($c,  10);
             box-shadow: 
             inset 0 10px 0 0px darken($c,  4), 
             inset 0 0 0 1px darken($c,  10.75);
             @include after-before {
                left: 50%;
                transform: translateX(-50%);      
                background-image: linear-gradient(
                   90deg, 
                $t 20%, 
                $c3 20%, 
                $c3 60%, 
                $t 60%
                );
                background-size: 7px 100%;
                width: calc(100% - 4px);
             }
             &::before {
                height: 80px;
                top: 20px;
             }
             &::after {
                height: 80px;
                top: 120px;
             }
          }
          div:nth-child(1) {
             left: 10px;
          }
          div:nth-child(2) {
             right: 10px;
          }
       }
    }
 }
 
 
 
 
 #cluster {
    $c3: #515151;
    $c_s: rgb(97, 109, 141);
    position: absolute;
    top: 231px;
    left: 189px;
    width: 174px;
    height: 350px;
    z-index: 2;
    & * {
       position: absolute;
    }
    .bld-1 {
       bottom: 130px;
       div:nth-child(1) {
          $c: #EFEEEA;
          $c2: mix($c, $c_s, 65);
          background-color: darken(adjust-hue($c, -1), 0);
          width: 93px;
          height: 62px;
          top: -62px;
          box-shadow: inset -23px 0 darken(adjust-hue($c2, -1), 1);
          @include after-before;
 
          &::before {
             $c3: adjust-color($c3, $lightness: -10, $alpha: -0.5);
             width: 41px;
             height: 50px;
             top: 6px;
             left: 26px;
             z-index: 1;
             background-image: linear-gradient(90deg, $t 30%, $c3 30%, $c3 60%, $t 60%);
             background-position: 0 0;
             background-size: 12% 3px;
          }
          &::after {
             $c3: adjust-color($c3, $hue: 3%, $lightness: -10, $alpha: -0.2);
             width: 14px;
             height: 50px;
             top: 6px;
             left: 75px;
             z-index: 1;
             background-image: linear-gradient(90deg, $t 30%, $c3 30%, $c3 60%, $t 60%);
             background-position: 0 0;
             background-size: 15% 3px;
          }
       }
       div:nth-child(2) {
          $c: #AF9D93;
          $c2: mix($c, $c_s, 65);
          background-color: darken($c, 2);
          width: 96px;
          height: 130px;
          box-shadow: inset -24px 0 darken($c2, 4);
          @include after-before {
          }
          &::before {
             $c3: adjust-color($c3, $hue: 3, $lightness: 0, $alpha: -0.1);
             width: 41px;
             height: 119px;
             top: 6px;
             left: 24px;
             z-index: 1;
             background-image: linear-gradient(90deg, $t 30%, $c3 30%, $c3 60%, $t 60%);
             background-position: 0 0;
             background-size: 12% 3px;
          }
          &::after {
             $c3: adjust-color($c3, $hue: 3, $lightness: 0, $alpha: -0.2);
             width: 17px;
             height: 120px;
             top: 6px;
             left: 75px;
             background-image: linear-gradient(90deg, $t 30%, $c3 30%, $c3 60%, $t 60%);
             background-position: 0 0;
             background-size: 15% 2px;
          }
       }
    }
    .bld-2 {
       top: 103px;  
       $c: #cecece;
       $c2: mix($c, $c_s, 75);
       div:nth-child(1) {
          width: 61px;
          height: 8px;
          top: -8px;
          left: 8px;
          $c: adjust-color($c, $hue: 3);
          $c2: adjust-color($c2, $hue: 2);
          background-color: darken($c, 4);
          box-shadow: inset -22px 0 darken($c2, 6);
       }
       div:nth-child(2) {
          width: 100px;
          height: 100px;
          background-color: darken($c, 3.5);
          background-color: $c;
          width: 74px;
          height: 57px;
          box-shadow: inset -24px 0 darken($c2, 5.5);
          box-shadow: inset -24px 0 $c2;
          @include after-before {
          }
          &::before {
             $c3: adjust-color($c3, $lightness: 0, $alpha: -0.1);
             width: 41px;
             height: 48px;
             top: 6px;
             left: 6px;
             background-image: linear-gradient(0deg, $t 30%, $c3 30%, $c3 60%, $t 60%);
             background-position: 0 0;
             background-size: 20% 4px;
          }
          &::after {
             $c3: adjust-color($c3, $hue: 4, $lightness: 0, $alpha: -0.1);
             width: 17px;
             height: 48px;
             top: 6px;
             left: 54px;
       background-image: linear-gradient(0deg, $t 30%, $c3 30%, $c3 60%, $t 60%);
             background-position: 0 0;
             background-size: 30% 4px;
          }
       }
    }
    .bld-3 {
       bottom: 162px;
       left: 92px;
       $c: #97a2b3;
       $c2: mix($c, $c_s, 85);
       div:nth-child(1) {
          width: 56px;
          height: 10px;
          top: -83px;
          left: -15px;
          background-color: darken(adjust-hue($c, 5), 4);
          box-shadow: inset -30px 0 darken(adjust-hue($c2, 2.5), 8);
       }
       div:nth-child(2) {
          width: 66px;
          height: 77px;
          top: -74px;
          left: -20px;
          background-color: darken(adjust-hue($c, 0), 2);
          box-shadow: inset -32px 0 darken($c2, 6);
       }
    }
    .bld-4 {
       top: 72px;
       left: 74px;
       $c: #DDD2C4;
       $c2: mix($c, $c_s, 65);
       div:nth-child(1) {
          width: 112px;
          height: 20px;
          top: -20px;
          left: 6px;
          $c: adjust-color($c, $hue: 3);
          $c2: adjust-color($c2, $hue: 2);
          background-color: darken($c, 1);
          box-shadow: inset -14px 0 darken($c2, 5), inset -48px 0 darken($c2, 3), inset -52px 0 darken($c2, 6),
             inset -77px 0 darken($c2, 5);
       }
       div:nth-child(2) {
          background-color: darken($c, 3);
          width: 130px;
          height: 160px;
          box-shadow: inset -20px 0 darken($c2, 7), inset -56px 0 darken($c2, 5), inset -64px 0 darken($c2, 8),
             inset -86px 0 darken($c2, 7);
 
          @include after-before; 
          &::before {
             width: 38px;
             height: 10px;
             top: -10px;
             left: 70px;
             box-shadow: inset 4px 0 0 0 darken($c2, 7), inset 8px 0 0 0 darken($c2, 3),
                /*  */ inset 10px 0 0 0 darken($c2, 5), inset 14px 0 0 0 darken($c2, 6), inset 18px 0 0 0 darken($c2, 3),
                /*  */ inset 20px 0 0 0 darken($c2, 5), inset 24px 0 0 0 darken($c2, 6), inset 28px 0 0 0 darken($c2, 3),
                /*  */ inset 30px 0 0 0 darken($c2, 5), inset 34px 0 0 0 darken($c2, 6), inset 38px 0 0 0 darken($c2, 3);
          }
          &::after {
             $c3: adjust-color($c3, $hue: 10, $lightness: 0);
             width: 23px;
             height: 150px;
             top: 6px;
             left: 81px;
             background-image: linear-gradient(90deg, $c3 0%, $c3 40%, $t 40%);
             background-position: 0 0;
             background-size: 30% 4px;
          }
       }
    }
    .bld-5 {
       top: 0px;
       left: 34px;
       $c: #ECECEB;
       $c2: mix($c, $c_s, 65);
       div:nth-child(1) {
          width: 134px;
          height: 114px;
          top: 0px;
          left: -30px;
          background-color: $c;
          box-shadow: inset -52px 0 $c2;
       }
    }
 }
 #cluster2 {
    $c: hsl(50, 23%, 92%);
    $c2: adjust-color($c, $hue: 20, $saturation: -15, $lightness: -10);
    // $c2: mix($c2, #5b729c, 70);
    $c3: adjust-color($c, $hue: 10, $saturation: 10, $lightness: -80, $alpha: -0.5);
    position: absolute;
    top: 254px;
    left: 214px;
    width: 290px;
    height: 350px;
    z-index: 3;
 
    & * {
       position: absolute;
    }
    @include after-before;
 
    &::before {
       top: 26px;
       left: 187px;
       width: 93px;
       transform: skew(0, 0deg);
       height: 100px;
       $c: #9d9fad;
       background-color: darken($c, 6);
       box-shadow: inset -20px 0 darken($c, 18);
    }
    &::after {
       top: 74px;
     left: 225px;
     width: 59px;
     z-index: 0;
     height: 100px;
       $c: #a5a7b6;
       background-color: darken($c, 4);
       box-shadow: inset -18px 0 darken($c, 7);
    }
    .bld-1 {
       width: 86px;
       height: 135px;
       bottom: -6px;
       $c: #dfe2ea;
       $c: #806c58;
       $c2: adjust-color($c, $hue: 5, $saturation: 2, $lightness: -1);
       background-color: darken($c, 4);
       box-shadow: inset -23px 0 darken($c2, 6);
       z-index: 5;
       @include after-before {
          background-color: lighten($c, 4);
          box-shadow: inset -8px 0 darken($c2, 4), inset -27px 0 lighten($c, 4), inset -32px 0 darken($c2, 4),
             inset -50px 0 lighten($c, 4), inset -55px 0 darken($c2, 4);
          box-shadow: inset -8px 0 darken($c2, 4), inset -27px 0 lighten($c, 4), inset -32px 0 darken($c, 5),
             inset -50px 0 lighten($c, 4), inset -55px 0 darken($c, 5);
          width: 66px;
          height: 10px;
 
          left: 0;
       }
       &::before {
          top: 12px;
          z-index: 1;
       }
       &::after {
          top: 32px;
       }
       .col {
          width: 15px;
          height: 64px;
          background-color: darken($c, 1);
          box-shadow: inset -4px 0 darken($c2, 2);
          box-shadow: inset -4px 0 darken($c, 8);
          @include after-before {
          }
          &::before {
             width: 8px;
             height: 54px;
             top: 6px;
             left: 2px;
             $c3: adjust-color($c3, $hue: 0, $lightness: 0, $alpha: -0.1);
             background-image: linear-gradient(90deg, $c3 0%, $c3 40%, $t 40%, $t 60%);
             background-position: 0 0;
             background-size: 20% 3px;
          }
       }
       .col-1,
       .col-2 {
          box-shadow: inset -4px 0 darken($c2, 2), 0px 1px darken($c2, 2);
          box-shadow: inset -4px 0 darken($c, 8), 0px 1px darken($c, 4);
       }
       .col-3 {
          box-shadow: inset -4px 0 darken($c2, 4), 0px 1px darken($c, 4);
       }
       .col-5 {
          bottom: 0;
          left: 38px;
       }
       .col-4 {
          bottom: 0;
          left: 8px;
       }
       .col-3 {
          top: -6px;
          left: 47px;
       }
       .col-2 {
          top: -8px;
          left: 23px;
          height: 66px;
       }
       .col-1 {
          top: -6px;
          left: 0;
       }
    }
    .bld-2 {
       $c: #d9d9c2;
       $c2: adjust-color($c, $hue: -5, $saturation: 2, $lightness: 0);
       width: 78px;
       z-index: 5;
       height: 204px;
       left: 66px;
       bottom: -10px;
       background-color: darken($c, 3);
       box-shadow: inset -12px 0 darken($c2, 6);
 
       @include after-before {
       }
       &::before {
          $c: transparentize(darken(adjust-hue($c, 0), 22), 0.7);
          $c: adjust-color($c3, $hue: 0, $lightness: 0, $alpha: -0.2);
          width: 60px;
          height: 70px;
          top: 10px;
          left: 5px;
          background-image: linear-gradient(90deg, $c 0%, $c 40%, $t 40%);
          background-position: 0 0;
          background-size: 10% 3px;
       }
       &::after {
          $c: transparentize(darken(adjust-hue($c2, 0), 22), 0.7);
          $c: adjust-color($c3, $hue: 0, $lightness: 0, $alpha: -0.2);
          width: 60px;
          height: 64px;
          top: 134px;
          left: 5px;
          background-image: linear-gradient(90deg, $c 0%, $c 40%, $t 40%);
          background-position: 0 0;
          background-size: 10% 3px;
       }
       div {
          width: 76px;
          height: 15px;
          left: -10px;
          $c: #d9d9c2;
          background-color: lighten($c, 5);
          box-shadow: inset -8px 0 darken($c2, 5);
          @include after-before {
          }
          &::before {
             width: 60px;
             height: 12px;
             top: 1px;
             left: 6px;
             background-position: 0 0;
             background-size: 10% 3px;
             $c: transparentize(darken(adjust-hue($c, 0), 22), 0.7);
             $c: adjust-color($c3, $hue: 0, $lightness: 0, $alpha: -0.1);
             background-image: linear-gradient(0deg, $c 0%, $c 40%, $t 40%);
          }
          &::after {
             width: 65px;
             bottom: -13px;
             left: 10px;
             height: 13px;
             background-color: #00000024;
          }
       }
       div:nth-child(1) {
          top: 88px;
       }
       div:nth-child(2) {
          top: 116px;
       }
    }
    .bld-3 {
       bottom: 0px;
       left: 112px;
       z-index: 5;
       transform: scale(1.1);
       
       .text {
          top: -16px;
          left: 20px;
          word-spacing: 2px;
          letter-spacing: 2px;
          font-size: 0.45em;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          color: #e6d2d2;
          $c: rgb(47, 39, 41);
          background-image: linear-gradient(90deg, $c 0%, $c 40%, $t 40%), linear-gradient(0deg, $c 0%, $c 40%, $t 40%);
          background-position: 0 0;
          background-size: 8% 2px, 10% 2px;
       }
       div:nth-child(1) {
          $c:#cecbad;
          position: relative;
          width: 88px;
          height: 18px;
          left: 5px;
          background-color: darken($c, 4.5);
          box-shadow: inset -12px 0 darken($c2, 6.5);
          @include after-before {
          }
          &::before {
             top: -3px;
             left: -4px;
             width: 94px;
             height: 4px;
             z-index: 1;
             background-color: darken($c, 4);
             border-radius: 10px;
             box-shadow: inset -10px 0 darken($c, 6.5), inset 0px -1px darken($c, 6.5);
          }
          &::after {
             top: 4px;
             left: 18px;
             width: 50px;
             height: 14px;
             background-color: darken($c, 4);
             border-radius: 10px 10px 0 0;
             box-shadow: inset -6px 0 darken($c2, 6);
          }
       }
       div:nth-child(2) {
          $c:#cecbad;
          position: relative;
          width: 98px;
          height: 191px;
          bottom: 0px;
          background-color: darken($c, 1);
          box-shadow: inset -12px 0 darken($c2, 6.25);
          @include after-before {
          }
          &::after {
             $c: transparentize(darken(adjust-hue($c2, 0), 22), 0.7);
             $c: adjust-color($c3, $hue: 0, $lightness: 0, $alpha: -0.1);
             width: 79px;
             height: 181px;
             top: 5px;
             left: 5px;
             background-image: linear-gradient(90deg, $c 0%, $c 40%, $t 40%);
             background-position: 0 0;
             background-size: 10% 3px;
          }
       }
    }
 }
 #bld2 {
    position: absolute;
    bottom: 84px;
    right: -8px;
    z-index: 15;
    transform: scale(1.2);
    $c1: #623e37;
    $c2: adjust-color($c1, $hue: -5, $lightness: -10, $saturation: -3);
    & * {
       position: absolute;
    }
    .top {
       position: relative;
       width: 62px;
       height: 12px;
       left: 8px;
       background-color: darken($c1, 1);
       box-shadow: inset -12px 0 darken($c2, 5.25);
    }
    .base {
       position: relative;
       width: 80px;
       height: 206px;
       background-color: adjust-color($c1, $hue: 0, $lightness: 0);
       background-color: #473030;
       background-color: darken($c1, 5);
       box-shadow: inset -12px 0 darken($c2, 6.25), inset -6px 0 0 10px lighten($c1, 2),
          inset 8px 0px 0 0 darken($c2, 4.5), inset 0px -51px 0 0 darken($c2, 5.9);
       @include after-before {
       }
       &::before {
          $c: transparentize(darken(adjust-hue($c1, 0), 22), 0.7);
          width: 53px;
          height: 100px;
          top: 10px;
          left: 9px;
          z-index: 1;
          background-image: linear-gradient(0deg, $c 0%, $c 40%, $t 40%);
          background-position: 0 0;
          background-size: 10% 4px;
          box-shadow: 0 9px #25201f80, inset 0 -45px #25201f80;
       }
       &::after {
          width: 6px;
          height: 105px;
          top: 10px;
          left: 28px;
          z-index: 1;
          background-color: darken($c1, 2);
          box-shadow: inset -2px 0px 0 0 darken($c2, 5);
       }
       .row {
          width: 69px;
          z-index: 3;
          height: 14px;
          background-color: lighten($c1, 1);
          box-shadow: inset -6px 0px 0 0 darken($c2, 5.25), inset -5px -1px transparentize(darken($c2, 5.25), 0.5);
       }
       .row-1 {
          top: 52px;
          left: -2px;
       }
       .row-2 {
          top: 76px;
          left: -8px;
          width: 74px;
          background-color: lighten($c1, 1.25);
          div {
             font-family: Arial, Helvetica, sans-serif;
             font-weight: bold;
             font-size: 0.25em;
             color: #d6d6d6;
             letter-spacing: 2px;
             text-shadow: 1px 0px 0px #424242;
             position: relative;
             top: 4px;
             left: 17px;
          }
       }
       .row-3 {
          top: 101px;
          left: -12px;
          width: 78px;
          background-color: lighten($c1, 1.5);
       }
    }
 }
 #b {
    $c: #939794;
    position: absolute;
    width: 290px;
    height: 100px;
    bottom: 0px;
    left: 214px;
    z-index: 1;
    background-color: $c;
    overflow: hidden;
    box-shadow: 
    inset 0 44px 0 0 $c,
    inset 0 47px 0 0 darken($c, 5), 
    inset 0 60px 0 0 adjust-color($c, $hue: 15, $lightness: -15,$alpha:-.2);
 
    @include after-before {
    }
    &::after {
       top: 55px;
       left: 0;
       width: 100%;
       height: 39px;
       background-color: #3f444e;
       $c1: rgb(117, 104, 104);
       $c2: lighten($c1, 25);
       $c3: rgb(136, 158, 146);
       $c4: lighten($c3, 25);
       $c5: rgb(184, 175, 168);
       $c6: lighten($c5, 25);
       @keyframes a-r {
          100% {
             background-position: -87% 25%, -87% 22%, -106% 55%, -106% 50%, -156% 100%, -156% 95%;
          }
       }
       animation: a-r 10s linear infinite;
       background-size: 45% 6px, 45% 6px, 50% 8px, 50% 8px, 60% 10px, 60% 10px;
       background-position: -5% 25%, -5% 22%, -5% 55%, -5% 50%, -5% 100%, -5% 95%;
       background-repeat: repeat-x;
       background-image: 
     /*3 */ linear-gradient(
             90deg,
             /*1 */ $t 10%,
             $c5 10%,
             $c5 20%,
             $t 20%,
             /*2 */ $t 25%,
             $c5 25%,
             $c5 30%,
             $t 30%,
             /*3 */ $t 31%,
             $c5 31%,
             $c5 45%,
             $t 45%,
             /*4 */ $t 52%,
             $c5 52%,
             $c5 60%,
             $t 60%,
             /*5 */ $t 65%,
             $c5 65%,
             $c5 80%,
             $t 80%,
             /*6 */ $t 87%,
             $c5 87%,
             $c5 94%,
             $t 94%
          ),
          linear-gradient(
             90deg,
             /*1 */ $t 10%,
             $c6 10%,
             $c6 20%,
             $t 20%,
             /*2 */ $t 25%,
             $c6 25%,
             $c6 30%,
             $t 30%,
             /*3 */ $t 31%,
             $c6 31%,
             $c6 45%,
             $t 45%,
             /*4 */ $t 52%,
             $c6 52%,
             $c6 60%,
             $t 60%,
             /*5 */ $t 65%,
             $c6 65%,
             $c6 80%,
             $t 80%,
             /*6 */ $t 87%,
             $c6 87%,
             $c6 94%,
             $t 94%
          ),
          /*b */
             linear-gradient(
                90deg,
                /*1 */ $t 10%,
                $c3 10%,
                $c3 20%,
                $t 20%,
                /*2 */ $t 25%,
                $c3 25%,
                $c3 30%,
                $t 30%,
                /*3 */ $t 31%,
                $c3 31%,
                $c3 45%,
                $t 45%,
                /*4 */ $t 52%,
                $c3 52%,
                $c3 60%,
                $t 60%,
                /*5 */ $t 65%,
                $c3 65%,
                $c3 80%,
                $t 80%,
                /*6 */ $t 87%,
                $c3 87%,
                $c3 94%,
                $t 94%
             ),
          linear-gradient(
             90deg,
             /*1 */ $t 10%,
             $c4 10%,
             $c4 20%,
             $t 20%,
             /*2 */ $t 25%,
             $c4 25%,
             $c4 30%,
             $t 30%,
             /*3 */ $t 31%,
             $c4 31%,
             $c4 45%,
             $t 45%,
             /*4 */ $t 52%,
             $c4 52%,
             $c4 60%,
             $t 60%,
             /*5 */ $t 65%,
             $c4 65%,
             $c4 80%,
             $t 80%,
             /*6 */ $t 87%,
             $c4 87%,
             $c4 94%,
             $t 94%
          ),
          /*a */
             linear-gradient(
                90deg,
                /*1 */ $t 10%,
                $c1 10%,
                $c1 20%,
                $t 20%,
                /*2 */ $t 25%,
                $c1 25%,
                $c1 30%,
                $t 30%,
                /*3 */ $t 31%,
                $c1 31%,
                $c1 45%,
                $t 45%,
                /*4 */ $t 52%,
                $c1 52%,
                $c1 60%,
                $t 60%,
                /*5 */ $t 65%,
                $c1 65%,
                $c1 80%,
                $t 80%,
                /*6 */ $t 87%,
                $c1 87%,
                $c1 94%,
                $t 94%
             ),
          linear-gradient(
             90deg,
             /*1 */ $t 10%,
             $c2 10%,
             $c2 20%,
             $t 20%,
             /*2 */ $t 25%,
             $c2 25%,
             $c2 30%,
             $t 30%,
             /*3 */ $t 31%,
             $c2 31%,
             $c2 45%,
             $t 45%,
             /*4 */ $t 52%,
             $c2 52%,
             $c2 60%,
             $t 60%,
             /*5 */ $t 65%,
             $c2 65%,
             $c2 80%,
             $t 80%,
             /*6 */ $t 87%,
             $c2 87%,
             $c2 94%,
             $t 94%
          );
    }
 }
 #bld1 {
    $c:#343235;
 $c2:adjust-hue($c,-5%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    div {
       background-color: $c;
       position: relative;
    }
    div:nth-child(1) {
       @include after-before {
       }
       &::before {
          width: 60px;
          height: 34px;
          background-color: #eee;
          border-radius: 120% 120% 0 0;
          top: -44px;
          left: 5px;
          box-shadow: inset -20px 1px 0 0px #cee6ff;
       }
       &::after {
          width: 72px;
          height: 10px;
          background-color: darken($c, 6);
          top: -10px;
          left: 0px;
       }
    }
    div:nth-child(2) {
       width: 100px;
       height: 20px;
       box-shadow: inset 15px 0 0 darken($c2, 1), inset 70px 0 0 lighten($c2, 3);
    }
    div:nth-child(3) {
       width: 128px;
       height: 20px;
       box-shadow: inset 20px 0 0 darken($c2, 1), inset 100px 0 0 lighten($c2, 3);
    }
    div:nth-child(4) {
       width: 158px;
       height: 28px;
       box-shadow: inset 25px 0 0 darken($c2, 1), inset 128px 0 0 lighten($c2, 3);
    }
    div:nth-child(5) {
       width: 188px;
       height: 28px;
       box-shadow: inset 30px 0 0 darken($c2, 1), inset 150px 0 0 lighten($c2, 3);
    }
    div:nth-child(6) {
       width: 214px;
       height: 414px;
       box-shadow: inset 40px 0 0 darken($c2, 1), inset 160px 0 0 lighten($c2, 3);
       @include after-before {
          box-shadow: 0 0 0 3px #00000014;   
          $frame: darken($c, 2);
          background-position: 0 0, 0px 2px, 0 0,0 0,0 0;
          background-size: 10px 100px, 100px 10px, 100% 50%,100% 100%,100% 100%;
          $highlight: transparentize(rgba(255, 255, 255, 0),1);
          $highlight: #a4d9ff1c;
          background-image: 
          //frame
          linear-gradient(
                90deg,
                   $frame 0%,
                $frame 10%,
                transparent 10%
             ),
             //frame
             linear-gradient(0deg, $frame 0%, $frame 10%, $t 10%),
             /* highlight */
             linear-gradient(-55deg, $t 25%,$highlight 26%, $highlight 34%,$t 35%,$t 50%,$highlight 51%,$highlight 70%,$t 71%),
             /* overlay */
             linear-gradient(89deg, $t, $t),
             /* main color */
  
             linear-gradient(180deg, #4c7da6a8, #44689a42);
     
             
             
       }
       &::before { 
          top: 9px;
          left: 50px;
          width: 102px;
          height: 402px;
          
       }
       &::after {
          
          top: 9px;
          left: 164px;
          width: 47px;
          height: 402px;
          background-size: 7px 100px, 100px 10px, 100% 50%,100% 100%,100% 100%;
       }
    }
 }
 #plane {
    @keyframes a {
       0%{
    
       }
       50%{
          transform: translate(-800px, 0px) rotate(5deg) scale(.1);
       }
       50.01%{
          transform: translate(-800px, 0px) rotate(5deg) scale(0);
       }
       100%{
          transform: translate(-800px, 0px) rotate(5deg) scale(0);
       }
    }
    animation: a 15s 3s linear infinite;
    position: absolute;
    top: 100px;
    right: -10px;
    z-index: 1000;
    filter: grayscale(.85);
    transform: translate(0px, 0px) rotate(5deg) scale(.1);
    & * {
       position: absolute;
    }
    @include after-before {
    }
    &::before {
       width: 33px;
       height: 33px;
       border-top: 4px solid;
       border-left: 4px solid;
       top: -17px;
       left: 37px;
       transform: rotate(43deg);
    }
    .body {
       width: 200px;
       height: 34px;
       background-color: #ed143d;
       border-radius: 20% 0% 200% 30%;
       box-shadow: inset 0 -16px #bb1231,inset 0 3px #ffffff5e;
       @include after-before {
       }
       &::before {
          right: 0;
          width: 39px;
          height: 34px;
          top: -34px;
          border-radius: 50% 10% 0 0;
          background-color: darkgrey;
       }
       &::after {
       }
    }
    .motor {
       top: 11px;
       left: -27px;
       div:nth-child(1) {
          @include after-before {
          }
          &::before {
             width: 7px;
             height: 8px;
             background-color: darkslateblue;
             top: 0;
             left: 0;
             border-radius: 4px 0 0 4px;
          }
          &::after {
             width: 6px;
             height: 74px;
             background-color: #1c1549;
             top: -34px;
             left: 7px;
             border-radius: 100%;
          }
       }
       div:nth-child(2) {
          left: 13px;
          @include after-before {
          }
          &::before {
             width: 8px;
             height: 30px;
             background-color: #483d8b;
             top: -10px;
             left: 0;
             z-index: 1;
             border-radius: 25% 0 0 25%;
          }
          &::after {
             width: 8px;
             height: 22px;
             background-color: #1c1549;
             top: -6px;
             left: 6px;
             box-shadow: inset -3px -4px #00000052;
             border-radius: 4px;
          }
       }
    }
    .wings {
       top: -32px;
       left: 26px;
       border: 1px solid #000;
       @include after-before {
          width: 60px;
          height: 10px;
          background-color: darkgray;
          border-radius: 42% 100% 27% 53%;
       }
       &::before {
          top: 0;
          left: 0;
       }
       &::after {
          top: 58px;
          left: 16px;
       }
    }
    .wheel {
       top: 35px;
       left: 17px;
       background-color: #1c1d1d;
       width: 25px;
       height: 25px;
       border-radius: 100%;
    }
 }
 #bridge{
    $c: #334547;
    $c2: #90adb4;
    position: absolute;
    width: 427px;
    height: 28px;
    bottom: 135px;
    left: 0px;
    transform: rotate(-4deg);
    z-index: 10;
    background-color: $c;
    box-shadow: inset 0 4px darken($c, 2),inset 0 8px lighten($c, 10), inset 0 -13px darken($c, 5);
    box-shadow: 
    inset 0 4px adjust-color($c,$hue:4,$saturation:3,$lightness:-2),
    inset 0 8px adjust-color($c,$hue:5,$saturation:6,$lightness:8), 
    inset 0 -13px adjust-color($c,$hue:4,$saturation:2,$lightness:-9);
    & * {
       position: absolute;
    }
    @include after-before {
    }
    &::before {
    }
    &::after {
       bottom: 0px;
       left: 0px;
       width: 100%;
       z-index: 0;
       height: 13px;
       background-position: 0 0;
       background-size: 4% 14px;
       background-image: linear-gradient(
          115deg,
          adjust-color($c,$hue:5%,$saturation:2%,$lightness: -7%)  10%,
          adjust-color($c,$hue:5%,$saturation:2%,$lightness: -7%)  20%,
          adjust-color($c,$hue:1%,$saturation:2%,$lightness: -5%)  20%,
          adjust-color($c,$hue:1%,$saturation:2%,$lightness: -5%) 40%,
          $t 40%
       );
    }
    .t {
       background-color: $c2;
       width: 51px;
       height: 14px;
       top: -5px;
       z-index: 1;
       border-radius: 10px 40px 0 0;
       transform: scale(1) translate(0, 0);
       box-shadow: inset 5px 3px adjust-color($c2,$hue:4,$saturation:0,$lightness:12);
       
       @include after-before {
          width: 100%;
          height: 100%;
          box-shadow: inset 5px 3px lighten($c2, 12);
          border-radius: 10px 10px 0 0;
          background-color: $c2;
       }
       &::before {
          left: -204%;
       }
       &::after {
          left: -102%;
       }
    }
    .t-1{
       left: 0px;
       z-index: 10;
       animation: t-a-1 10s 0s linear infinite;
    }
    .t-2{
       z-index: 5;
       $c:lighten($c2,10);
       background-color: $c;
       right: 0px;
       top: -6px;
       transform: scale(-0.5,0.5) translate(-125%, 0);
       box-shadow: inset -7px 3px adjust-color($c2,$hue:4,$saturation:0,$lightness:7);
       animation: t-a-2 10s 4s linear infinite;
       &::after,&::before{
          box-shadow: inset -7px 3px adjust-color($c2,$hue:4,$saturation:0,$lightness:7);
          background-color: $c;
       }
    }
    @keyframes t-a-1 {
       0% {
          transform: scale(1) translate(-100%, 0);
       }
 
       50% {
          transform: scale(0.5) translate(1000px, 0);
       }
       50.01% {
          transform: scale(0) translate(1000px, 0);
       }
       100% {
          transform: scale(0) translate(1000px, 0);
       }
    }
    @keyframes t-a-2 {
       50% {
          transform: scale(-1, 1) translate(746px, 0);
       }
       50.01% {
          transform: scale(0, 0) translate(-125%, 0);
       }
       100% {
          transform: scale(0) translate(-125%, 0);
       }
    }
 }
 